#### Loading the noshowappointments dataset from Kaggle and loading it onto a Pandas dataframe

In [118]:
import kagglehub
path = kagglehub.dataset_download("joniarroba/noshowappointments")
print("path to dataset files -> {}".format(path))

path to dataset files -> C:\Users\Admin\.cache\kagglehub\datasets\joniarroba\noshowappointments\versions\5

In [119]:
import os
print(os.listdir(path))

['KaggleV2-May-2016.csv']

In [120]:
import pandas as pd
files = os.listdir(path)
csv_file = [f for f in files if f.endswith('.csv')][0]
fullpath = os.path.join(path, csv_file)
noshow_dataset_df = pd.read_csv(fullpath)

#### Data exploratrion

In [121]:
noshow_dataset_df.head(4)

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,5.589978e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,4.262962e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,8.679512e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No

In [122]:
noshow_dataset_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110527 entries, 0 to 110526
Data columns (total 14 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   PatientId       110527 non-null  float64
 1   AppointmentID   110527 non-null  int64
 2   Gender          110527 non-null  object
 3   ScheduledDay    110527 non-null  object
 4   AppointmentDay  110527 non-null  object
 5   Age             110527 non-null  int64
 6   Neighbourhood   110527 non-null  object
 7   Scholarship     110527 non-null  int64
 8   Hipertension    110527 non-null  int64
 9   Diabetes        110527 non-null  int64
 10  Alcoholism      110527 non-null  int64
 11  Handcap         110527 non-null  int64
 12  SMS_received    110527 non-null  int64
 13  No-show         110527 non-null  object
dtypes: float64(1), int64(8), object(5)
memory usage: 11.8+ MB

In [123]:
noshow_dataset_df.describe()

,PatientId,AppointmentID,Age,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received
count,1.105270e+05,1.105270e+05,110527.000000,110527.000000,110527.000000,110527.000000,110527.000000,110527.000000,110527.000000
mean,1.474963e+14,5.675305e+06,37.088874,0.098266,0.197246,0.071865,0.030400,0.022248,0.321026
std,2.560949e+14,7.129575e+04,23.110205,0.297675,0.397921,0.258265,0.171686,0.161543,0.466873
min,3.921784e+04,5.030230e+06,-1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4.172614e+12,5.640286e+06,18.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,3.173184e+13,5.680573e+06,37.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,9.439172e+13,5.725524e+06,55.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
max,9.999816e+14,5.790484e+06,115.000000,1.000000,1.000000,1.000000,1.000000,4.000000,1.000000

#### Removal of features than cannot affect the outcome(i.e., whether the patient is a no show) in any way

In [124]:
noshow_dataset_df1 = noshow_dataset_df.drop(['PatientId', 'AppointmentID'], axis=1)

In [125]:
noshow_dataset_df1.describe()

,Age,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received
count,110527.000000,110527.000000,110527.000000,110527.000000,110527.000000,110527.000000,110527.000000
mean,37.088874,0.098266,0.197246,0.071865,0.030400,0.022248,0.321026
std,23.110205,0.297675,0.397921,0.258265,0.171686,0.161543,0.466873
min,-1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,18.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,37.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,55.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
max,115.000000,1.000000,1.000000,1.000000,1.000000,4.000000,1.000000

In [126]:
noshow_dataset_df1.head()

,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,1,1,0,0,0,No

In [127]:
noshow_dataset_df1.tail(100)

,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
110427,F,2016-06-02T09:46:11Z,2016-06-08T00:00:00Z,56,RESISTÊNCIA,0,0,0,0,0,1,No
110428,F,2016-06-03T12:33:46Z,2016-06-08T00:00:00Z,8,RESISTÊNCIA,0,0,0,0,0,1,Yes
110429,F,2016-06-07T10:12:25Z,2016-06-08T00:00:00Z,44,RESISTÊNCIA,0,0,0,0,0,0,Yes
110430,F,2016-05-25T09:01:33Z,2016-06-01T00:00:00Z,57,RESISTÊNCIA,0,0,0,0,0,0,Yes
110431,M,2016-06-03T08:45:25Z,2016-06-08T00:00:00Z,12,RESISTÊNCIA,0,0,0,0,0,1,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...
110522,F,2016-05-03T09:15:35Z,2016-06-07T00:00:00Z,56,MARIA ORTIZ,0,0,0,0,0,1,No
110523,F,2016-05-03T07:27:33Z,2016-06-07T00:00:00Z,51,MARIA ORTIZ,0,0,0,0,0,1,No
110524,F,2016-04-27T16:03:52Z,2016-06-07T00:00:00Z,21,MARIA ORTIZ,0,0,0,0,0,1,No
110525,F,2016-04-27T15:09:23Z,2016-06-07T00:00:00Z,38,MARIA ORTIZ,0,0,0,0,0,1,No
110526,F,2016-04-27T13:30:56Z,2016-06-07T00:00:00Z,54,MARIA ORTIZ,0,0,0,0,0,1,No

## converting all the columns to numeric datatypes

male values denoted by 'M' in the Gender column are encoded as 0 and female → 'F' encoded as 1

In [128]:
noshow_dataset_df1['Gender'] = noshow_dataset_df1['Gender'].apply(lambda x: 1 if x == 'F' else 0)

In [129]:
noshow_dataset_df1.keys()

Index(['Gender', 'ScheduledDay', 'AppointmentDay', 'Age', 'Neighbourhood',
       'Scholarship', 'Hipertension', 'Diabetes', 'Alcoholism', 'Handcap',
       'SMS_received', 'No-show'],
      dtype='object')

Encoding of the No-show column:
 'Yes' encoded as 1
 'No' encoded as 0

In [130]:
noshow_dataset_df1['No-show'] = noshow_dataset_df1['No-show'].apply(lambda x: 1 if x == 'Yes' else 0)

In [131]:
noshow_dataset_df1.describe()

,Gender,Age,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
count,110527.000000,110527.000000,110527.000000,110527.000000,110527.000000,110527.000000,110527.000000,110527.000000,110527.000000
mean,0.649977,37.088874,0.098266,0.197246,0.071865,0.030400,0.022248,0.321026,0.201933
std,0.476979,23.110205,0.297675,0.397921,0.258265,0.171686,0.161543,0.466873,0.401444
min,0.000000,-1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,18.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,37.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1.000000,55.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
max,1.000000,115.000000,1.000000,1.000000,1.000000,1.000000,4.000000,1.000000,1.000000

In [132]:
noshow_dataset_df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110527 entries, 0 to 110526
Data columns (total 12 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Gender          110527 non-null  int64
 1   ScheduledDay    110527 non-null  object
 2   AppointmentDay  110527 non-null  object
 3   Age             110527 non-null  int64
 4   Neighbourhood   110527 non-null  object
 5   Scholarship     110527 non-null  int64
 6   Hipertension    110527 non-null  int64
 7   Diabetes        110527 non-null  int64
 8   Alcoholism      110527 non-null  int64
 9   Handcap         110527 non-null  int64
 10  SMS_received    110527 non-null  int64
 11  No-show         110527 non-null  int64
dtypes: int64(9), object(3)
memory usage: 10.1+ MB

In [133]:
noshow_dataset_df1[['ScheduledDay', 'AppointmentDay']].tail(100)

                ScheduledDay        AppointmentDay
110427  2016-06-02T09:46:11Z  2016-06-08T00:00:00Z
110428  2016-06-03T12:33:46Z  2016-06-08T00:00:00Z
110429  2016-06-07T10:12:25Z  2016-06-08T00:00:00Z
110430  2016-05-25T09:01:33Z  2016-06-01T00:00:00Z
110431  2016-06-03T08:45:25Z  2016-06-08T00:00:00Z
...                      ...                   ...
110522  2016-05-03T09:15:35Z  2016-06-07T00:00:00Z
110523  2016-05-03T07:27:33Z  2016-06-07T00:00:00Z
110524  2016-04-27T16:03:52Z  2016-06-07T00:00:00Z
110525  2016-04-27T15:09:23Z  2016-06-07T00:00:00Z
110526  2016-04-27T13:30:56Z  2016-06-07T00:00:00Z

[100 rows x 2 columns]

## Feature engineering

In the cell below, the duration, in days, between schedule day and appointment day is derived and stored in a column

In [134]:
noshow_dataset_df1[['AppointmentDay', 'ScheduledDay']] = noshow_dataset_df1[['AppointmentDay', 'ScheduledDay']].apply(pd.to_datetime)
noshow_dataset_df1['WaitingDays'] = (noshow_dataset_df1['AppointmentDay'] - noshow_dataset_df1['ScheduledDay']).dt.days

In [135]:
noshow_dataset_df1['WaitingDays'].head(10000)

0      -1
1      -1
2      -1
3      -1
4      -1
       ..
9995   -1
9996   -1
9997    5
9998    5
9999    5
Name: WaitingDays, Length: 10000, dtype: int64

In [136]:
negative_wait = noshow_dataset_df1[noshow_dataset_df1['WaitingDays'] < 0]
print(f"Records with negative waiting time: {len(negative_wait)}")
print(f"Percentage of total: {len(negative_wait)/len(noshow_dataset_df1)*100:.2f}%")

Records with negative waiting time: 38568
Percentage of total: 34.89%

In [137]:
noshow_dataset_df1[noshow_dataset_df1['WaitingDays'] == -1].sample(n=10, replace=True)

,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show,WaitingDays
35284,1,2016-05-09 09:06:42+00:00,2016-05-09 00:00:00+00:00,31,JESUS DE NAZARETH,0,1,0,0,0,0,0,-1
32205,1,2016-05-04 12:05:40+00:00,2016-05-04 00:00:00+00:00,59,JABOUR,1,0,0,0,0,0,0,-1
45752,1,2016-05-18 08:22:22+00:00,2016-05-18 00:00:00+00:00,21,CENTRO,0,0,0,0,0,0,0,-1
78059,1,2016-05-10 07:28:30+00:00,2016-05-10 00:00:00+00:00,19,SANTA MARTHA,0,0,0,0,0,0,0,-1
34301,1,2016-05-18 07:13:31+00:00,2016-05-18 00:00:00+00:00,7,SANTO ANDRÉ,0,0,0,0,0,0,0,-1
75369,0,2016-05-11 07:18:02+00:00,2016-05-11 00:00:00+00:00,67,SÃO PEDRO,0,1,0,1,0,0,0,-1
31738,1,2016-05-17 07:09:30+00:00,2016-05-17 00:00:00+00:00,4,RESISTÊNCIA,0,0,0,0,0,0,0,-1
11360,0,2016-05-31 08:39:08+00:00,2016-05-31 00:00:00+00:00,31,SÃO PEDRO,0,0,0,0,0,0,0,-1
10723,1,2016-05-05 08:24:16+00:00,2016-05-05 00:00:00+00:00,57,SANTO ANTÔNIO,0,1,0,0,0,0,0,-1
53525,0,2016-05-31 09:54:52+00:00,2016-05-31 00:00:00+00:00,14,DA PENHA,0,0,0,0,1,0,1,-1

In [138]:
noshow_dataset_df1[(noshow_dataset_df1['WaitingDays'] == -1) & (noshow_dataset_df1['No-show'] == 1)].sample(n=5)

,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show,WaitingDays
19853,1,2016-05-31 09:47:32+00:00,2016-05-31 00:00:00+00:00,7,BELA VISTA,0,0,0,0,0,0,1,-1
103752,0,2016-06-01 12:45:59+00:00,2016-06-01 00:00:00+00:00,27,MARIA ORTIZ,0,0,0,0,0,0,1,-1
53670,0,2016-05-24 11:37:01+00:00,2016-05-24 00:00:00+00:00,20,ANTÔNIO HONÓRIO,0,0,0,0,0,0,1,-1
99684,1,2016-06-07 12:21:57+00:00,2016-06-07 00:00:00+00:00,54,FORTE SÃO JOÃO,0,1,0,0,0,0,1,-1
59295,1,2016-05-16 10:00:40+00:00,2016-05-16 00:00:00+00:00,28,ESTRELINHA,1,0,0,0,0,0,1,-1

In [139]:
print(len(noshow_dataset_df[(noshow_dataset_df1['WaitingDays'] == -1) & (noshow_dataset_df1['No-show'] == 1)])/ len(negative_wait) * 100)

4.646338933831156

some statistics,
    37% of records show negative waiting times
    of that 4% are no show appointments
conclusion:
    initially thought negative waiting times are a proxy for walk-in appointments, however, 4% no show subset disproves this, and
    now it is assumed that they are errors in data collections.

### issuing an integer id for each unique neighborhood

In [140]:
print(noshow_dataset_df1['Neighbourhood'].nunique())

81

80 unique neighborhoods to be converted into 80 integer ids

In [141]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
noshow_dataset_df1['Neighbourhood'] = le.fit_transform(noshow_dataset_df1['Neighbourhood'])
print("Neighbourhood lookup table:\n")
for i,class_name in enumerate(le.classes_):
    print("ID: {}, Neighborhood name: {}".format(i, class_name))

Neighbourhood lookup table:

ID: 0, Neighborhood name: AEROPORTO
ID: 1, Neighborhood name: ANDORINHAS
ID: 2, Neighborhood name: ANTÔNIO HONÓRIO
ID: 3, Neighborhood name: ARIOVALDO FAVALESSA
ID: 4, Neighborhood name: BARRO VERMELHO
ID: 5, Neighborhood name: BELA VISTA
ID: 6, Neighborhood name: BENTO FERREIRA
ID: 7, Neighborhood name: BOA VISTA
ID: 8, Neighborhood name: BONFIM
ID: 9, Neighborhood name: CARATOÍRA
ID: 10, Neighborhood name: CENTRO
ID: 11, Neighborhood name: COMDUSA
ID: 12, Neighborhood name: CONQUISTA
ID: 13, Neighborhood name: CONSOLAÇÃO
ID: 14, Neighborhood name: CRUZAMENTO
ID: 15, Neighborhood name: DA PENHA
ID: 16, Neighborhood name: DE LOURDES
ID: 17, Neighborhood name: DO CABRAL
ID: 18, Neighborhood name: DO MOSCOSO
ID: 19, Neighborhood name: DO QUADRO
ID: 20, Neighborhood name: ENSEADA DO SUÁ
ID: 21, Neighborhood name: ESTRELINHA
ID: 22, Neighborhood name: FONTE GRANDE
ID: 23, Neighborhood name: FORTE SÃO JOÃO
ID: 24, Neighborhood name: FRADINHOS
ID: 25, Neighborhood name: GOIABEIRAS
ID: 26, Neighborhood name: GRANDE VITÓRIA
ID: 27, Neighborhood name: GURIGICA
ID: 28, Neighborhood name: HORTO
ID: 29, Neighborhood name: ILHA DAS CAIEIRAS
ID: 30, Neighborhood name: ILHA DE SANTA MARIA
ID: 31, Neighborhood name: ILHA DO BOI
ID: 32, Neighborhood name: ILHA DO FRADE
ID: 33, Neighborhood name: ILHA DO PRÍNCIPE
ID: 34, Neighborhood name: ILHAS OCEÂNICAS DE TRINDADE
ID: 35, Neighborhood name: INHANGUETÁ
ID: 36, Neighborhood name: ITARARÉ
ID: 37, Neighborhood name: JABOUR
ID: 38, Neighborhood name: JARDIM CAMBURI
ID: 39, Neighborhood name: JARDIM DA PENHA
ID: 40, Neighborhood name: JESUS DE NAZARETH
ID: 41, Neighborhood name: JOANA D´ARC
ID: 42, Neighborhood name: JUCUTUQUARA
ID: 43, Neighborhood name: MARIA ORTIZ
ID: 44, Neighborhood name: MARUÍPE
ID: 45, Neighborhood name: MATA DA PRAIA
ID: 46, Neighborhood name: MONTE BELO
ID: 47, Neighborhood name: MORADA DE CAMBURI
ID: 48, Neighborhood name: MÁRIO CYPRESTE
ID: 49, Neighborhood name: NAZARETH
ID: 50, Neighborhood name: NOVA PALESTINA
ID: 51, Neighborhood name: PARQUE INDUSTRIAL
ID: 52, Neighborhood name: PARQUE MOSCOSO
ID: 53, Neighborhood name: PIEDADE
ID: 54, Neighborhood name: PONTAL DE CAMBURI
ID: 55, Neighborhood name: PRAIA DO CANTO
ID: 56, Neighborhood name: PRAIA DO SUÁ
ID: 57, Neighborhood name: REDENÇÃO
ID: 58, Neighborhood name: REPÚBLICA
ID: 59, Neighborhood name: RESISTÊNCIA
ID: 60, Neighborhood name: ROMÃO
ID: 61, Neighborhood name: SANTA CECÍLIA
ID: 62, Neighborhood name: SANTA CLARA
ID: 63, Neighborhood name: SANTA HELENA
ID: 64, Neighborhood name: SANTA LUÍZA
ID: 65, Neighborhood name: SANTA LÚCIA
ID: 66, Neighborhood name: SANTA MARTHA
ID: 67, Neighborhood name: SANTA TEREZA
ID: 68, Neighborhood name: SANTO ANDRÉ
ID: 69, Neighborhood name: SANTO ANTÔNIO
ID: 70, Neighborhood name: SANTOS DUMONT
ID: 71, Neighborhood name: SANTOS REIS
ID: 72, Neighborhood name: SEGURANÇA DO LAR
ID: 73, Neighborhood name: SOLON BORGES
ID: 74, Neighborhood name: SÃO BENEDITO
ID: 75, Neighborhood name: SÃO CRISTÓVÃO
ID: 76, Neighborhood name: SÃO JOSÉ
ID: 77, Neighborhood name: SÃO PEDRO
ID: 78, Neighborhood name: TABUAZEIRO
ID: 79, Neighborhood name: UNIVERSITÁRIO
ID: 80, Neighborhood name: VILA RUBIM

In [142]:
noshow_dataset_df1.head(5)

,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show,WaitingDays
0,1,2016-04-29 18:38:08+00:00,2016-04-29 00:00:00+00:00,62,39,0,1,0,0,0,0,0,-1
1,0,2016-04-29 16:08:27+00:00,2016-04-29 00:00:00+00:00,56,39,0,0,0,0,0,0,0,-1
2,1,2016-04-29 16:19:04+00:00,2016-04-29 00:00:00+00:00,62,45,0,0,0,0,0,0,0,-1
3,1,2016-04-29 17:29:31+00:00,2016-04-29 00:00:00+00:00,8,54,0,0,0,0,0,0,0,-1
4,1,2016-04-29 16:07:23+00:00,2016-04-29 00:00:00+00:00,56,39,0,1,1,0,0,0,0,-1

extracting the day of the week and month for the appointment

In [143]:
noshow_dataset_df1['appointment_day_of_week'] = noshow_dataset_df1['AppointmentDay'].dt.day_name()
noshow_dataset_df1['appointment_month'] = noshow_dataset_df1['AppointmentDay'].dt.month

encoding the day of the week

In [144]:
# For KNN, you might want numerical encoding
day_mapping = {'Monday': 0, 'Tuesday': 1, 'Wednesday': 2, 'Thursday': 3,
               'Friday': 4, 'Saturday': 5, 'Sunday': 6}
noshow_dataset_df1['day_of_week_encoded'] = noshow_dataset_df1['appointment_day_of_week'].map(day_mapping)

In [145]:
noshow_dataset_df1['appointment_month'].sample(10000)

64064    5
95662    6
21981    5
3452     5
44205    5
        ..
87133    6
7882     5
50538    5
67496    5
90564    6
Name: appointment_month, Length: 10000, dtype: int32

In [146]:
noshow_dataset_df1[['appointment_month','AppointmentDay']].sample(20)

        appointment_month            AppointmentDay
85006                   6 2016-06-02 00:00:00+00:00
42100                   5 2016-05-30 00:00:00+00:00
102745                  6 2016-06-01 00:00:00+00:00
13250                   5 2016-05-05 00:00:00+00:00
96617                   6 2016-06-03 00:00:00+00:00
93563                   6 2016-06-07 00:00:00+00:00
1865                    4 2016-04-29 00:00:00+00:00
87382                   6 2016-06-07 00:00:00+00:00
103692                  6 2016-06-08 00:00:00+00:00
40942                   5 2016-05-24 00:00:00+00:00
87011                   6 2016-06-01 00:00:00+00:00
56706                   5 2016-05-05 00:00:00+00:00
91574                   6 2016-06-01 00:00:00+00:00
13446                   5 2016-05-19 00:00:00+00:00
28880                   5 2016-05-25 00:00:00+00:00
15114                   5 2016-05-30 00:00:00+00:00
54088                   5 2016-05-19 00:00:00+00:00
53801                   5 2016-05-02 00:00:00+00:00
51198                   5 2016-05-12 00:00:00+00:00
47051                   5 2016-05-04 00:00:00+00:00

### adding the hypertension vs age feature interaction

In [147]:
noshow_dataset_df1["age_hypertension_interraction"] = noshow_dataset_df1["Age"] * noshow_dataset_df1["Hipertension"]

creating a feature for if the appointment day is a weekend

In [148]:
noshow_dataset_df1["is_weekend"] = noshow_dataset_df1["day_of_week_encoded"].apply(lambda x: 1 if (x == 5) or (x == 6) else 0)

In [149]:
noshow_dataset_df1[noshow_dataset_df1["is_weekend"] == 1].count()

Gender                           39
ScheduledDay                     39
AppointmentDay                   39
Age                              39
Neighbourhood                    39
Scholarship                      39
Hipertension                     39
Diabetes                         39
Alcoholism                       39
Handcap                          39
SMS_received                     39
No-show                          39
WaitingDays                      39
appointment_day_of_week          39
appointment_month                39
day_of_week_encoded              39
age_hypertension_interraction    39
is_weekend                       39
dtype: int64

adding is_Friday boolean feature to the data

In [150]:
noshow_dataset_df1["is_friday"] = noshow_dataset_df1["day_of_week_encoded"].apply(lambda x: 1 if x == 4 else 0)
noshow_dataset_df1[(noshow_dataset_df1["is_friday"] == 1)].sample(10)

,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show,WaitingDays,appointment_day_of_week,appointment_month,day_of_week_encoded,age_hypertension_interraction,is_weekend,is_friday
1964,1,2016-04-27 11:00:10+00:00,2016-04-29 00:00:00+00:00,42,9,0,1,0,0,0,0,0,1,Friday,4,4,42,0,1
24833,1,2016-04-26 08:48:23+00:00,2016-05-06 00:00:00+00:00,2,68,0,0,0,0,0,1,0,9,Friday,5,4,0,0,1
57734,1,2016-05-13 08:16:24+00:00,2016-05-13 00:00:00+00:00,36,57,1,0,0,0,0,0,0,-1,Friday,5,4,0,0,1
2909,1,2016-04-29 14:20:48+00:00,2016-04-29 00:00:00+00:00,23,57,0,0,0,0,0,0,0,-1,Friday,4,4,0,0,1
37194,1,2016-04-05 15:02:40+00:00,2016-05-06 00:00:00+00:00,0,37,0,0,0,0,0,1,1,30,Friday,5,4,0,0,1
43564,0,2016-05-09 10:09:30+00:00,2016-05-13 00:00:00+00:00,12,1,1,0,0,0,0,0,0,3,Friday,5,4,0,0,1
9749,0,2016-05-04 11:00:49+00:00,2016-05-13 00:00:00+00:00,8,59,0,0,0,0,0,0,1,8,Friday,5,4,0,0,1
26549,1,2016-05-03 15:26:26+00:00,2016-05-06 00:00:00+00:00,9,77,1,0,0,0,0,0,1,2,Friday,5,4,0,0,1
34903,0,2016-05-20 11:09:02+00:00,2016-05-20 00:00:00+00:00,20,78,0,0,0,0,0,0,0,-1,Friday,5,4,0,0,1
95487,1,2016-04-14 16:01:52+00:00,2016-06-03 00:00:00+00:00,25,40,0,0,0,0,0,1,1,49,Friday,6,4,0,0,1

age categorization

In [151]:
noshow_dataset_df1["age_group"] = pd.cut(noshow_dataset_df1["Age"],
                                         bins=[0, 12, 19, 35, 50, 65, 100],
                                         labels=['child', 'teen', 'young_adult', 'adult', 'middle_aged', 'senior'])

In [152]:
noshow_dataset_df1.sample(5)

,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show,WaitingDays,appointment_day_of_week,appointment_month,day_of_week_encoded,age_hypertension_interraction,is_weekend,is_friday,age_group
37562,1,2016-04-19 07:06:12+00:00,2016-05-03 00:00:00+00:00,22,9,0,0,0,0,0,1,1,13,Tuesday,5,1,0,0,0,young_adult
17395,0,2016-05-16 15:07:13+00:00,2016-05-20 00:00:00+00:00,17,69,0,0,0,0,0,0,0,3,Friday,5,4,0,0,1,teen
23875,0,2016-04-18 08:27:37+00:00,2016-05-13 00:00:00+00:00,73,3,0,1,1,0,0,0,1,24,Friday,5,4,73,0,1,senior
29321,1,2016-05-02 14:01:33+00:00,2016-05-09 00:00:00+00:00,58,0,0,0,0,0,0,0,0,6,Monday,5,0,0,0,0,middle_aged
46768,1,2016-01-25 09:40:11+00:00,2016-05-16 00:00:00+00:00,73,10,0,1,0,0,1,0,0,111,Monday,5,0,73,0,0,senior

In [153]:
age_group_dummies = pd.get_dummies(noshow_dataset_df1["age_group"], prefix='age_group', dtype=int)
age_group_dummies

,age_group_child,age_group_teen,age_group_young_adult,age_group_adult,age_group_middle_aged,age_group_senior
0,0,0,0,0,1,0
1,0,0,0,0,1,0
2,0,0,0,0,1,0
3,1,0,0,0,0,0
4,0,0,0,0,1,0
...,...,...,...,...,...,...
110522,0,0,0,0,1,0
110523,0,0,0,0,1,0
110524,0,0,1,0,0,0
110525,0,0,0,1,0,0
110526,0,0,0,0,1,0

In [154]:
noshow_dataset_df1 = pd.concat([noshow_dataset_df1, age_group_dummies], axis=1)

In [155]:
import numpy as np
# Convert to Unix timestamp (seconds)
noshow_dataset_df1['ScheduledDay'] = noshow_dataset_df1['ScheduledDay'].astype(np.int64) // 10**9
noshow_dataset_df1['AppointmentDay'] = noshow_dataset_df1['AppointmentDay'].astype(np.int64) // 10**9

In [156]:
final_df = noshow_dataset_df1.drop(['appointment_day_of_week', 'age_group'], axis=1)
print(final_df.columns)
noshow_dataset_df1["AppointmentDay"].dtype

Index(['Gender', 'ScheduledDay', 'AppointmentDay', 'Age', 'Neighbourhood',
       'Scholarship', 'Hipertension', 'Diabetes', 'Alcoholism', 'Handcap',
       'SMS_received', 'No-show', 'WaitingDays', 'appointment_month',
       'day_of_week_encoded', 'age_hypertension_interraction', 'is_weekend',
       'is_friday', 'age_group_child', 'age_group_teen',
       'age_group_young_adult', 'age_group_adult', 'age_group_middle_aged',
       'age_group_senior'],
      dtype='object')

dtype('int64')

In [157]:
import numpy as np
# Convert to Unix timestamp (seconds)
noshow_dataset_df1['ScheduledDay'] = noshow_dataset_df1['ScheduledDay'].astype(np.int64) // 10**9
noshow_dataset_df1['AppointmentDay'] = noshow_dataset_df1['AppointmentDay'].astype(np.int64) // 10**9

In [158]:
final_df.sample(4)

,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,...,day_of_week_encoded,age_hypertension_interraction,is_weekend,is_friday,age_group_child,age_group_teen,age_group_young_adult,age_group_adult,age_group_middle_aged,age_group_senior
49668,0,1463666505,1463616000,43,10,0,0,0,0,0,...,3,0,0,0,0,0,0,1,0,0
92596,1,1464851931,1464825600,61,38,0,1,1,0,0,...,3,61,0,0,0,0,0,0,1,0
80371,1,1462206336,1462406400,57,8,0,1,0,0,0,...,3,57,0,0,0,0,0,0,1,0
110419,0,1464679405,1465171200,24,59,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

## Model Training and Evaluation

initial model training

In [159]:
X = final_df[['Gender', 'ScheduledDay', 'AppointmentDay', 'Age', 'Neighbourhood', 'Scholarship', 'Hipertension', 'Diabetes', 'Alcoholism', 'Handcap', 'SMS_received', 'No-show', 'WaitingDays', 'appointment_month','day_of_week_encoded', 'age_hypertension_interraction', 'is_weekend',
       'is_friday', 'age_group_child', 'age_group_teen',
       'age_group_young_adult', 'age_group_adult', 'age_group_middle_aged',
       'age_group_senior']]
y = final_df['No-show']

In [160]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [161]:
from sklearn.neighbors import KNeighborsClassifier
kcl = KNeighborsClassifier(n_neighbors=5).fit(X_train,y_train)

In [162]:
print(kcl.score(X_test, y_test))

0.7703749276201506

parameter fine tuning
            → finding the ideal number of n_neighbours to create a model thats 70-90% accurate

In [164]:
import matplotlib.pyplot as plt
testing_accuracy = []
neighbours = range(1, 20, 1)

for n in neighbours:
    kcl = KNeighborsClassifier(n_neighbors=n).fit(X_train, y_train)
    testing_accuracy.append(kcl.score(X_test, y_test))

plt.plot(neighbours, testing_accuracy, label='testing_accuracy')
plt.ylabel('Accuracy score')
plt.xlabel('n_neighbours')
plt.show()

KeyboardInterrupt:

In [75]:
print(testing_accuracy)

[0.741712507237985, 0.7893384481760278, 0.7620874348581355, 0.7871670526925304, 0.7739215402431963, 0.7904241459177765, 0.7781195715112913, 0.7910393746381007, 0.7839823393167342, 0.7918355529820498, 0.78752895193978, 0.7929574406485235, 0.7897003474232773, 0.7936088592935727, 0.7910393746381007, 0.794151708164447, 0.7919441227562247, 0.794984076433121, 0.7927403011001737, 0.7955631152287204, 0.7928488708743486, 0.795816444701795, 0.7943688477127968, 0.795888824551245, 0.7951650260567458, 0.7966126230457441, 0.7960335842501448, 0.7970830920671685, 0.7959250144759699, 0.7973002316155182, 0.7961421540243196, 0.7973726114649682, 0.7969021424435437, 0.7976259409380428, 0.7972640416907932, 0.7977345107122177, 0.7973364215402432, 0.7981325998841923, 0.7973726114649682, 0.799218297625941, 0.7984944991314418, 0.7989287782281412, 0.7990373480023162, 0.7987116386797916, 0.7981687898089171, 0.799182107701216, 0.7988202084539664, 0.7995801968731905, 0.7987478286045165, 0.7993630573248408, 0.7995078170237406, 0.799109727851766, 0.7995078170237406, 0.7995801968731905, 0.7989649681528662, 0.7993268674001158, 0.7994354371742907, 0.7996163867979155, 0.7988925883034164, 0.7993992472495657, 0.799182107701216, 0.799218297625941, 0.799218297625941, 0.7995440069484655, 0.799109727851766, 0.7994716270990156, 0.7990735379270412, 0.799182107701216, 0.7989649681528662, 0.799218297625941, 0.799218297625941, 0.7993630573248408, 0.799182107701216, 0.7993630573248408, 0.799109727851766, 0.7994716270990156, 0.7994354371742907, 0.7995078170237406, 0.799218297625941, 0.7996163867979155, 0.7992906774753908, 0.7996163867979155, 0.7994716270990156, 0.7997611464968153, 0.7995801968731905, 0.7993992472495657, 0.799182107701216, 0.7993268674001158, 0.799145917776491, 0.7996525767226405, 0.7995440069484655, 0.7996887666473653, 0.7999420961204401, 0.7999059061957151, 0.8001230457440649, 0.7999420961204401, 0.7998697162709901, 0.7997973364215403, 0.7999420961204401]